<div class="jumbotron scoreboard">
  <h1>Final Score</h1>
  <div class="numbers-row">
    <h3></h3>
    <h5>1</h5>
    <h5>2</h5>
    <h5>3</h5>
  </div>
  <div class="heads-row">
    <h3>{{team1Name}}</h3>
    <h5>{{scores.0.team1}}</h5>
    <h5>{{scores.1.team1}}</h5>
    <h5>{{scores.2.team1}}</h5>
  </div>
  <div class="tails-row">
    <h3>{{team2Name}}</h3>
    <h5>{{scores.0.team2}}</h5>
    <h5>{{scores.1.team2}}</h5>
    <h5>{{scores.2.team2}}</h5>
  </div>

  <div class="time-row">
    <h4>Finished at: {{formattedEndTime}}</h4>
  </div>

</div>